/* ****** Cart ********************** */
%btn {
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: $primary-color;
    cursor: pointer;
    color: $secondary-color;
    text-align: center;
}

.delete {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 10px;
    @extend %btn;
}

.checkout-btn {
    margin: 20px auto;
    width: 100%;
    display: inline-block;
    @extend %btn;
}

.cart {
    @include flexCenter(row, space-evenly);
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;

    #{&}-box {
        @include flexCenter(column, space-evenly);
        flex-wrap: wrap;
    }
}

.card {
    display: flex;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px #555;
    padding: 15px;
    position: relative;
    width: 500px;

    #{&}-img {
        width: 150px;
        height: 150px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        @include bordered(2px, $primary-color);
    }

    #{&}-content {
        padding: 0 10px 0 15px;

        p {
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            word-spacing: 2px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        h3 {
            color: rgb(194, 13, 13);
            margin-bottom: 15px;
            font-size: 20px;
        }

        .amount {
            .count {
                width: 30px;
                height: 30px;
                @include bordered(1px, #555);
                outline: none;
                background-color: $primary-color;
                color: $secondary-color;
                font-size: 20px;
                cursor: pointer;
            }

            span {
                color: crimson;
                padding: 0 20px;
                font-weight: bold;
            }
        }
    }
}

.checkout {
    align-self: flex-start;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px #555;
    padding: 15px;
    width: 400px;

    .heading {
        border-bottom: 2px solid $primary-color;
        padding: 10px;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .price,
    .delivery,
    .total {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;
    }
}