%flex-col {
    display: flex;
    flex-direction: column;
}

.form-container {
    max-width: 500px;
    margin: 30px auto 0 auto;
    padding: 20px 0;
    box-shadow: 0 2px 6px #555;
    border-radius: 25px;

    @include mobile-550 {
        max-width: 380px;
    }

    @include mobile-400 {
        max-width: 280px;
    }

    @include mobile-300 {
        max-width: 240px;
    }

    h2 {
        text-align: center;
        color: $primary-color;
    }

    form {
        @extend %flex-col;
        justify-content: center;
        align-items: center;
        color: $primary-color;
    }
}

.form-input {
    @extend %flex-col;
    margin: 15px 0 20px 0;
    padding: 0 20px;
    width: 95%;

    @include mobile-550 {
        padding: 0;
    }

    label {
        align-self: flex-start;
        margin: 0 10px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    input {
        width: 95%;
        padding: 8px;
        border: 2px solid #e67e22;
        margin: 5px 10px;
        font-size: 18px;
        background-color: #eaeaea;
        outline: none;

        @include mobile-400{
            width: 92%;
        }
    }
}

.form-btn {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: $primary-color;
    border: none;
    border-radius: 25px;
    width: 120px;
    outline: none;
    margin: 10px 0;

    @include mobile-400 {
        font-size: 16px;
        width: 100px;
    }
}

small {
    font-weight: bold;

    a {
        color: $primary-color;
    }
}

.form-error {
    color: red;
    margin-bottom: -15px;
    margin-left: 12px;
}